# IntelliJ
.idea/
*.iml
*.iws
out/

# Build
target/
bin/
build/

# Logs
*.log

# OS
.DS_Store
Thumbs.db

# Java
*.class
*.jar
*.war
*.ear

# Gradle
.gradle/
build/

# Maven
target/

# VSCode (nếu có mở kèm)
.vscode/
